NEXT_PUBLIC_BASE_URL=https://marcconrad.com/uob/
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 
DATABASE_URL="file:./database.sqlite"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LIFELINE_RECHARGE_SECONDS=
NEXT_PUBLIC_MAX_LIFELINES=